@import url('https://fonts.googleapis.com/css2?family=Carlito&family=Nunito&family=Open+Sans:wght@300&display=swap');

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #C38370 ;
    --secondary-color: #A45C40 ;
    --accent1-color: #E4B7A0;
    --accent2-color: #F6EEED;
  
    /* change the values below to your chosen font(s) */
    --heading-font: Carlito;
    --paragraph-font: Carlito, Nunito, "Open Sans";
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #C38370;  /* headlines on a white background */ 
    --headline-color-on-color: #F6EEED; /* headlines on a colored background */ 
    --paragraph-color-on-white: #C38370; /* paragraph text on a white background */ 
    --paragraph-color-on-color: #F6EEED; /* paragraph text on a colored background */ 
    --paragraph-background-color: #A45C40  ;
    --nav-link-color: #F6EEED;
    --nav-background-color: #C38370;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #A45C40;
  }

*{
    margin: 0;
    font-family: var(--paragraph-font);
}
a{
    text-decoration: none;
    cursor: pointer;
}
header{
    display: flex;
    background-color: var(--primary-color);
}

#logo{
    width: 100px;
    margin: 10px 30px;
}
#insta_logo{
    width: 50px;
    text-align: center;
    opacity: 0.5;
    margin: 10px;
}
nav{
    justify-content: space-around;
    margin: auto;
}
nav a{
    text-align: center;
    padding: 0 50px;
    text-decoration: none;
    font-size: 1.5em;
    color: var(--accent2-color);
}
nav a:hover{
    color: var(--secondary-color);

}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1920px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}










#Instagram h1{
    text-align: center;
    margin: 10px;
    color: var(--primary-color);
}
#Instagram div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 36vw;
}

#Instagram img{
    width: 60px;
    border-radius: 30px;
    border: 2.5px solid #A45C40;
    text-align: center;
    margin: 0 auto;
}
#Instagram a,p{
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
    color: var(--secondary-color);
}
#Instagram button{
    width: 80px;
    height: 30px;
    background-color: var(--secondary-color);
    color: var(--accent2-color);
    border-radius: 6px;
    border: 0px;
}
#Instagram button:hover{
    cursor: pointer;
    background-color: var(--accent2-color);
    color: var(--secondary-color);
    border: 2px solid #A45C40;
}

#Biography{
    display: flex;
    margin: 20px auto;
    padding: 50px ;
    background-color: var(--accent1-color);
    color: var(--secondary-color);
}

#Biography img{
    width: 70%;
    margin: 0 30px;
    border-radius: 30px;
}

#Biography p{
    color: var(--);
    font-size: 1.2em;
    text-align: left;
}

#Depositions{
    display: flex;
    flex-wrap: wrap;
}

.depositions{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-items: center;
    margin: 50px auto;
    padding: 20px;
    width: 300px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 50px;
}

.depositions img{
    width: 100px;
    border-radius: 30px;
    margin: 20px;
}
.depositions p{
    font-size: 1.2em;
    color: var(--accent2-color);
    margin: 20px;
}

footer{
    flex-shrink: 0;
    background-color: var(--secondary-color);
    color: var(--accent2-color);
}

#main_footer{
    display: flex;
    flex-wrap: wrap;
}

#footer_bio{
    display: flex;
}
#footer_bio h2{
    margin: 20px 10px;
    text-align: left;
}
#footer_bio img{
    width: 150px;
    margin: 0 0 0 20px;
}
#footer_bio p{
    color: var(--accent2-color);
    margin-top: 70px;
    margin-left: 10px;
    text-align: left;
    width: 130px;
}

#siteplan{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 27%;
}
footer a{
    text-decoration: none;
    color: var(--accent2-color);
}
footer a:hover{
    text-decoration:underline
}

#footer_inf{
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 0;
}
#footer_inf ul li{
    list-style: none;
    margin-left: -30px;
    margin-top: 4px;
    text-decoration: none;
    color: var(--accent2-color);
}

#copyright{
    text-align: center;
}

